:root {
  --primary-bg: #111111 !important;;
  --primary-text: #ffffff !important;;
  --secondary-bg: #d30d60 !important;;
  --secondary-text: #210060 !important;;
  --light: #ffffff !important;;
  --grey:#181818 !important;;
  --large-text: 3.5625rem !important;;
  --medium-text-1: 2.625rem !important;;
  --medium-text-2: 2.25rem !important;;
  --medium-text-3: 1.25rem !important;;
  --normal-text: 1.125rem !important;;
  --small-text: 1rem !important;;
  --xs: 0.875rem !important;;
  --border-button-color: #454545 !important;
}

@font-face {
  font-family: 'iCiel Gotham Bold';
  font-style: normal;
  font-weight: normal;
  src: local('iCiel Gotham Bold'), url('../asset/ICiel/iCielGothamBold.woff') format('woff');
  }
  

@font-face {
  font-family: 'iCiel Gotham Medium';
  font-style: normal;
  font-weight: normal;
  src: local('iCiel Gotham Medium'), url('../asset/ICiel/icielgothammediumregular.woff') format('woff');
}


@font-face {
  font-family: 'iCiel Gotham Ultra';
  font-style: normal;
  font-weight: normal;
  src: local('iCiel Gotham Ultra'), url('../asset/ICiel/icielgothamultraregular.woff') format('woff');
}

html {
  overflow-y: hidden;
  
	scroll-padding: 90px;
}


body {
  margin: 0;
  font-family: "Quicksand", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--primary-text);
  background-color: var(--primary-bg);
  scroll-behavior: smooth;
  scroll-padding-top: 15vh;
  height: 100vh;
  overflow-x: hidden;
  /* scroll-snap-type: y mandatory;
  scroll-behavior: smooth; */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@media (max-width: 1024px) {
  body {
    scroll-snap-type: none;
  }
}

h1 {
  font-size: var(--large-text);
  margin-bottom: 0;
}

h2 {
  font-size: var(--medium-text-1);
}

h3 {
  font-weight: bold;
  font-size: var(--medium-text-3);
}

p {
  font-size: var(--normal-text);
}

h4 {
  font-weight: normal;
  font-size: var(--small-text);
}

a {
  text-decoration: none;
  color: var(--light);
}

a:hover {
  color: var(--secondary-bg);
}

@media (max-width: 769px) {
  p {
    font-size: var(--small-text);
  }

  h4 {
    font-size: var(--xs);
  }

  h2 {
    font-size: var(--medium-text-2);
  }

  h3 {
    font-size: 18px;
  }
}

.App {
  text-align: center;
}

.App-link {
  color: #61dafb;
}

.contain {
  max-width: 1330px;
  width: 100%;
  margin-left: auto;
  box-sizing: border-box;
  margin-right: auto;
  display: block;
  padding-left: 15px;
  padding-right: 15px;
}

/* ------------Style Bootstrap-------------- */

/* -------------------title--------------- */
.title-content {
  font-size: var(--large-text) !important;
  font-weight: bold !important;
  color: var(--light);
  text-align: left;
}

.title-description {
  font-size: var(--xs) !important;
  padding: 2vh 0 1.5vh 0;
  color: var(--primary-text);
}

.content-center {
  width: 80%;
  margin: 5vh auto;
  justify-content: center;
}

/* ---------------Btn--------------- */
.btn {
  /* font-size: var(--medium-text-3); */
  font-weight: 600;
  text-decoration: none;
  border-radius: 93px;
  color: var(--light);
}

.btn-outline-light {
  color: var(--light);
  background-color: var(--primary-bg);
}

.btn-outline-secondary {
  color: var(--secondary-bg);
  background-color: var(--primary-bg);
}

.btn-gradient {
  background: linear-gradient(85.98deg, #FF00CC 2.62%, #333399 73.27%);
  box-shadow: 0px 7px 20px rgba(0, 0, 0, 0.2);
  border-radius: 176.804px;
}

.btn-gradient-small {
  background: linear-gradient(91.24deg, #FF00CC 1.08%, #4141C1 82.35%);
  border-radius: 11.7284px;
  padding: 8px 9px;
  font-weight: 700;
  cursor: pointer;
  font-size: var(--xs);
}

.btn-outline {
  border: 3px solid var(--light);
  border-radius: 11.7px;
  padding: 4px 5px;
  font-weight: 700;
  cursor: pointer;
  font-size: var(--xs);
}


.text-gradient {
  background: linear-gradient(94.94deg, #D30D60 2.73%, #2C2660 50.54%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.text-gradient-2 {
  background: linear-gradient(85.06deg, #FF00CC 64.42%, #4141C1 86%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.img-gradient {
  position:relative;
}


.img-gradient::after {
  content: '';
  border-radius: 10px;
  position: absolute;
  left: 0; top: 0;
  width: 100%; height: 100%;
  background: linear-gradient(0deg, #D30D60 0%, rgba(17, 17, 17, 0) 50%);
}

@media only screen and (max-width: 1441px) {
  .contain {
    max-width: 1200px;
  }

  .btn-gradient-small {
    padding: 8px 15px;
  }

  .btn-outline {
    padding: 5px 15px;
  }
}


@media only screen and (max-width: 1201px) {
  .container {
    max-width: 1100px;
  }
}

@media only screen and (max-width: 1112px) {
  .container {
    max-width: 1024px;
  }
}

@media only screen and (max-width: 1100px) {
  .container {
    max-width: 980px;
  }
}
@media only screen and (max-width: 1024px) {
  .container {
    max-width: 900px;
  }
}
@media only screen and (max-width: 769px) {
  .container {
    max-width: 650px;
  }
}
@media only screen and (max-width: 700px) {
  .container {
    max-width: 600px;
  }
}

@media only screen and (max-width: 600px) {
  .title-content {
    font-size: var(--medium-text-2) !important;
  }
}

@media only screen and (max-width: 1112px) {
  .contain {
    max-width: 1024px;
  }
}

@media only screen and (max-width: 1100px) {
  .contain {
    max-width: 980px;
  }
}

@media only screen and (max-width: 769px) {
  .contain {
    max-width: 650px;
  }
}

@media only screen and (max-width: 700px) {
  .contain {
    max-width: 600px;
  }
}

@media only screen and (max-width: 600px) {
  .title-content {
    font-size: var(--medium-text-2) !important;
  }
}

@media only screen and (max-width: 900px) {
  .title-description {
    padding: 0;
  }
}

